@font-face {
  font-family: 'OnePiece';
  src: url('fonts/onePieceFont.ttf');
}

h1{
    font-family: 'OnePiece';
    display: flex;
    justify-content: center;
    font-size: 100px;
}

h3{
  font-family: 'OnePiece';
  font-weight: 150;
  font-size: 30px;
}

#grille {
  display: grid;
  grid-template-columns: repeat(100, 7px);
  grid-template-rows: repeat(100, 7px);
  align-items: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}

.pixel {
  width: 7px;
  height: 7px;
  border : 1px solid black;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  margin-top: 53px;   
}

body{
  background: url(images/font.jpg) no-repeat center center fixed;
  background-size: cover;
}

#tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px 3px;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
  overflow: hidden;
  backdrop-filter: blur(4px);
}
table{
  border-collapse: collapse;
  max-width: 800px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.5);
}

#tab td, #tab th {
  border: 1px solid black;
  padding: 12px 15px;
  text-align: center;
  font-size: 15px;
  background-color: white;
}

#plateau {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#recharger, button{
  margin-bottom: 10px;
  padding: 5px 10px;
  font-weight: bold;
  background-color: #146ebe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 50px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(69, 156, 233, 0.9);
  padding: 40px;
  border-radius: 10px;
  max-width: 250px;
}

#console {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  height: 150px;
  overflow-y: auto;
  font-family: monospace;
  font-size: 14px;
  border-radius: 10px;
}

#colonne, #ligne{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  padding: 5px;
  border-radius: 50px;
  border: #146ebe solid;
  margin: 5px;
  left: -5px;
  position: relative;
}

#tab{
  background-color: rgba(69, 156, 233, 0.7);
  padding: 15px;
  border-radius: 10px;
}

td,tr, thead{
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 75px;
}